asgiref
Brotli
click
colorama
dj-database-url
Django
django-cors-headers
django-filter
et-xmlfile
gunicorn
jdcal
mysqlclient
numpy
opencv-contrib-python
opencv-contrib-python-headless
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
pillow
psycopg2
python-dateutil
pytz
six
typing_extensions
tzdata
white
whitenoise
xlrd
xlwt
